{% extends 'main/base.html' %}
{% load static %}
{% block head %}
{% include 'main/includes/head.html' %}
{% endblock %}
{% block content %}

    <section id="home-slider">
        <div class="container">
            <div class="row">
                <div class="main-slider">
                    <div class="slide-text">
                        <h1>Добро пожаловать на наш сайт!</h1>
                        <p>Вы можете читать и коментировать статьи. Или напишите свою статью.</p>
                        {% if user.is_authenticated %}
                        <a href="#" class="btn btn-common">Написать статью</a>
                        {% else %}
                        <a href="{% url 'auth:login' %}" class="btn btn-common">ВОЙТИ</a>
                        {% endif %}
                    </div>
                    <img src="{% static 'main/images/home/slider/hill.png' %}" class="slider-hill" alt="slider image">
                    <img src="{% static 'main/images/home/slider/house.png' %}" class="slider-house" alt="slider image">
                    <img src="{% static 'main/images/home/slider/sun.png' %}" class="slider-sun" alt="slider image">
                    <img src="{% static 'main/images/home/slider/birds1.png' %}" class="slider-birds1" alt="slider image">
                    <img src="{% static 'main/images/home/slider/birds2.png' %}" class="slider-birds2" alt="slider image">
                </div>
            </div>
        </div>
        <div class="preloader"><i class="fa fa-sun-o fa-spin"></i></div>
    </section>
    <!--/#home-slider-->





    <section id="features">
        <div class="container">
            <div class="row">
                <div class="single-features">
                    <div class="col-sm-5 wow fadeInLeft" data-wow-duration="500ms" data-wow-delay="300ms">
                        <img src="{% static 'main/images/home/image1.png' %}" class="img-responsive" alt="">
                    </div>
                    <div class="col-sm-6 wow fadeInRight" data-wow-duration="500ms" data-wow-delay="300ms">
                        <h2>Experienced and Enthusiastic</h2>
                        <P>Pork belly leberkas cow short ribs capicola pork loin. Doner fatback frankfurter jerky
                            meatball pastrami bacon tail sausage. Turkey fatback ball tip, tri-tip tenderloin drumstick
                            salami strip steak.</P>
                    </div>
                </div>
                <div class="single-features">
                    <div class="col-sm-5 wow fadeInLeft" data-wow-duration="500ms" data-wow-delay="300ms">
                        <img src="{% static 'main/images/home/image1.png' %}" class="img-responsive" alt="">
                    </div>
                    <div class="col-sm-6 wow fadeInRight" data-wow-duration="500ms" data-wow-delay="300ms">
                        <h2>Experienced and Enthusiastic</h2>
                        <P>Pork belly leberkas cow short ribs capicola pork loin. Doner fatback frankfurter jerky
                            meatball pastrami bacon tail sausage. Turkey fatback ball tip, tri-tip tenderloin drumstick
                            salami strip steak.</P>
                    </div>
                </div>
                <div class="single-features">
                    <div class="col-sm-5 wow fadeInLeft" data-wow-duration="500ms" data-wow-delay="300ms">
                        <img src="{% static 'main/images/home/image1.png' %}" class="img-responsive" alt="">
                    </div>
                    <div class="col-sm-6 wow fadeInRight" data-wow-duration="500ms" data-wow-delay="300ms">
                        <h2>Experienced and Enthusiastic</h2>
                        <P>Pork belly leberkas cow short ribs capicola pork loin. Doner fatback frankfurter jerky
                            meatball pastrami bacon tail sausage. Turkey fatback ball tip, tri-tip tenderloin drumstick
                            salami strip steak.</P>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--/#features-->

{% endblock %}
{% block js %}
{% include 'main/includes/js.html' %}
{% endblock %}
