{% load static %}
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="description" content="">
<meta name="author" content="">
<link href="{% static 'main/css/bootstrap.min.css' %}" rel="stylesheet">
<link href="{% static 'main/css/font-awesome.min.css' %}" rel="stylesheet">
<link href="{% static 'main/css/animate.min.css' %}" rel="stylesheet">
<link href="{% static 'main/css/lightbox.css' %}" rel="stylesheet">
<link href="{% static 'main/css/main.css' %}" rel="stylesheet">
<link href="{% static 'main/css/responsive.css' %}" rel="stylesheet">

<!--[if lt IE 9]>
<script src="{% static 'main/js/html5shiv.js' %}"></script>
<script src="{% static 'main/js/respond.min.js' %}"></script>
<![endif]-->
<link rel="shortcut icon" href="{% static 'main/images/ico/favicon.ico' %}">
<link rel="apple-touch-icon-precomposed" sizes="144x144" href="{% static 'main/images/ico/apple-touch-icon-144-precomposed.png' %}">
<link rel="apple-touch-icon-precomposed" sizes="114x114" href="{% static 'main/images/ico/apple-touch-icon-114-precomposed.png' %}">
<link rel="apple-touch-icon-precomposed" sizes="72x72" href="{% static 'main/images/ico/apple-touch-icon-72-precomposed.png' %}">
<link rel="apple-touch-icon-precomposed" href="{% static 'main/images/ico/apple-touch-icon-57-precomposed.png' %}">