{% extends 'main/base.html' %}
{% load static %}
{% block head %}
{% include 'blog/includes/head.html' %}
{% endblock %}
{% block content %}
<section id="blog" class="padding-top">
    <div class="container">
        <div class="row">
            <div class="col-md-9 col-sm-7">
                {% include 'blog/includes/post.html' %}
                <div class="blog-pagination">
                    <ul class="pagination">
                        {% if posts.has_previous %}
                        <li><a href="{% url 'blog:main' posts.previous_page_number %}">left</a></li>
                        {% endif %}
                        {% if posts.paginator %}
                        <li class="active"><a href="#">{{ posts.number }} из {{ posts.paginator.num_pages }}</a></li>
                        <li><a href="#">{{ posts.number }} из {{ posts.paginator.num_pages }}</a></li>
                        {% endif %}
                        {% if posts.has_next %}
                        <li><a href="{% url 'blog:main' posts.next_page_number %}">right</a></li>
                        {% endif %}
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}
{% block js %}
{% include 'main/includes/js.html' %}
{% include 'blog/includes/js.html' %}
{% endblock %}

