{% extends 'main/base.html' %}
{% load static %}
{% block head %}
{% include 'main/includes/head.html' %}
{% endblock %}
{% block content %}
<section id="clients">
    <div class="container">
        {% if form.errors %}
        {% for field in form %}
        {% for error in field.errors %}
        <div class="alert alert-danger fade in">
            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
            <h4>{{ field.label }}</h4>
            <p>{{ error|escape }}</p>
        </div>
        {% endfor %}
        {% endfor %}
        {% endif %}
        <div class="row">
            <div class="col-sm-12">
                <form method="post" action="">
                    {% csrf_token %}
                    <div class="form-group">
                        <label for="city" class="col-md-4 col-lg-3 col-form-label">Аватар</label>
                        {{ form.avatar }}
                    </div>
                    <div class="form-group">
                        {{ form.username }}
                    </div>
                    <div class="form-group">
                        {{ form.first_name }}
                    </div>
                    <div class="form-group">
                        {{ form.last_name }}
                    </div>
                    <div class="form-group">
                        {{ form.email }}
                    </div>

                    <div class="form-group">
                        {{ form.password1 }}
                    </div>
                    <div class="form-group">
                        {{ form.password2 }}
                    </div>
                    <div class="form-group">
                        <input type="submit" name="submit" class="btn btn-submit" value="зарегистрироваться">
                    </div>
                </form>
                <a href="{% url 'auth:login' %}">
                    <button type="button" class="btn btn-lg btn-success">войти</button>
                </a>
            </div>
        </div>
    </div>
</section>
{% endblock %}
{% block js %}
{% include 'main/includes/js.html' %}
{% endblock %}