{% load static %}
<div class="row">
    {% for post in posts %}
    <div class="col-sm-12 col-md-12">
        <div class="single-blog single-column">
            <div class="post-thumb">
                <a href="{% url 'blog:post' post.pk %}"><img src="{{ post.image.url }}" class="img-responsive"
                                                alt=""></a>
                <div class="post-overlay">
                    <span class="uppercase"><a href="#">{{ post.created.day }} <br><small>{{ post.created.month }}.{{ post.created.year }}</small></a></span>
                </div>
            </div>
            <div class="post-content overflow">
                <h2 class="post-title bold"><a href="{% url 'blog:post' post.pk %}">{{ post.title }}</a></h2>
                <h3 class="post-author"><a href="{% url 'blog:author' post.author 1 %}">{{ post.author.get_full_name }}
                    ({{ post.author }})</a></h3>
                <p>{{ post.content|truncatechars:300 }}</p>
                <a href="{% url 'blog:post' post.pk %}" class="read-more">View More</a>
                <div class="post-bottom overflow">
                    <ul class="nav navbar-nav post-nav">
                        <li>
                            <i class="fa fa-heart"></i>
                            {{ post.like_count }} Love
                        </li>
                        <li><a href="{% url 'blog:post' post.pk %}"><i class="fa fa-comments"></i>{{ post.comment_count }} Comments</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    {% endfor %}
</div>